blockquote {
  border-left: 3px solid #0A0A0A;
  padding-left: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5,
h6 {
  font-size: 1rem;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

pre {
  padding: 8px;
  border-radius: 10px;
}

ul,
ol {
  padding: 0 1rem;
  list-style: square;
}
